.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 220px;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: transparent;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.countdown-number {
  font-size: 5rem;
  font-weight: bold;
  color: rgb(250 204 21 / var(--tw-border-opacity, 1));
  animation: fadeInOut 1s ease-in-out;
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}